<!DOCTYPE HTML>
<html>
<head>
    <title>Gofit</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content="sports sharing"/>
    <meta name="keywords" content=""/>
    <link rel="stylesheet" href="css/w3.css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic" rel="stylesheet"/>
    <script src="/view/js/jquery.min.js"></script>
    <script src="/view/js/jquery.dropotron.js"></script>
    <script src="/view/js/skel.min.js"></script>
    <script src="/view/js/skel-panels.min.js"></script>
    <link rel="stylesheet" href="/view/css/skel-noscript.css"/>
    <link rel="stylesheet" href="/view/css/style.css"/>
    <link rel="stylesheet" href="/view/css/style-desktop.css"/>
    <!--[if lte IE 8]>
    <script src="/view/js/html5shiv.js"></script>
    <link rel="stylesheet" href="/view/css/ie8.css"/>
    <![endif]-->
    <style>
        .w3-myfont {
            font-family: "Comic Sans MS", cursive, sans-serif;
        }
    </style>
</head>
<body class="right-sidebar">
<!-- Header Wrapper -->
<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u">

                <!-- Header -->
                <section id="header">

                    <!-- Logo -->
                    <h1><a href="#">Gofit</a></h1>

                    <!-- Nav -->
                    <nav id="nav">
                        <ul>
                            <li><a href="/view/index.html">Home</a></li>
                            <li class="current_page_item"><a href="/view/health.html">Health</a></li>
                            <li><a href="/view/sports.html">Sports</a></li>
                            <li><a href="/view/activity.html">Activity</a></li>
                            <li><a href="/view/friends.html">Friends</a></li>
                        </ul>
                    </nav>

                </section>

            </div>
        </div>
    </div>
</div>

<!-- Main Wrapper -->
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u">
                <!-- Portfolio -->
                <section>
                    <div class="w3-container w3-myfont">
                        <div class="row">
                            <div class="8u skel-cell-mainContent">

                                <!-- Content -->
                                <article class="box is-post">
                                    <header>
                                        <h2>Your health condition</h2>
                                    </header>
                                    <hr style=" height:2px;border:none;border-top:2px double grey;"/>
                                    <section>
                                        <header>
                                            <h3>Sleep condition</h3>
                                        </header>
                                        <h4><font color=#6495ed id="wellSleep">Well sleep:0 nights</font></h4><br>
                                        <div>
                                            <input id="sleepDate" type="date">
                                        </div>
                                        <br>
                                        <table border="1">
                                            <tr>
                                                <td>high-quality sleeping rate</td>
                                                <td>start time</td>
                                                <td>end time</td>
                                                <td>sleeping time</td>
                                                <td>high-quality sleeping time</td>
                                            </tr>
                                            <tr>
                                                <td id="rate">0%</td>
                                                <td id="startTime">0</td>
                                                <td id="endTime">0</td>
                                                <td id="sleepTime">0</td>
                                                <td id="highTime">0</td>
                                            </tr>
                                        </table>
                                    </section>
                                    <div id="main" style="width: 600px;height:400px;"></div>
                                    <section>
                                        <hr style=" height:2px;border:none;border-top:2px double grey;"/>
                                        <header>
                                            <h3>BMI</h3>
                                        </header>
                                        <h4 id="bmi">BMI:18.7</h4><br>
                                        <div>Weight: <input id="weight" type="text" name="weight"/> kg</div>
                                        <br>
                                        <div>Height: <input id="height" type="text" name="height"/> cm</div>
                                        <br>
                                        <input onclick="updateBMI()" type="submit" value="Save" class="w3-btn w3-red">
                                        <div></div>
                                        <br>
                                        <div class="w3-container w3-light-grey">
                                            <span id="advice" class="byline">Your ideal weight is 51kg, do pay attention on a reasonable diet.</span>
                                        </div>
                                    </section>
                                </article>

                            </div>
                            <div class="4u">

                                <!-- Sidebar -->
                                <section class="box">
                                    <a class="image image-full" id="avatar"></a>
                                    <header>
                                        <a href="my_profile.html"><h3 id="username">gakki</h3></a>
                                        <a href="/view/html/login.html">logout</a>
                                    </header>
                                    <div>
                                        <div id="friends"><img src="/view/images/friend_icon.png"
                                                               class="image image-icon"/> friends:
                                        </div>
                                        <br>
                                        <div id="level"><img src="/view/images/level_icon.png"
                                                             class="image image-icon"/> level:
                                        </div>
                                        <br>
                                        <div id="credit"><img src="/view/images/money_icon.png"
                                                              class="image image-icon"/> credit:
                                        </div>
                                        <br>
                                    </div>
                                </section>

                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>

<!-- Footer Wrapper -->
<div id="footer-wrapper">

    <!-- Footer -->
    <section id="footer" class="container">
        <div class="row">
            <div class="12u">

                <!-- Copyright -->
                <div id="copyright">
                    <ul class="links">
                        &copy; Copyright &copy; 2016.TJStudio All rights reserved.
                    </ul>
                </div>

            </div>
        </div>
    </section>
</div>
<script src="/view/js/echarts.simple.min.js"></script>
<script src="/view/js/main.js"></script>
<script>
    $(document).ready(function () {
        $.ajax("/getBriefInfo", {
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#username').html(data.username);
                $('#friends').append(data.friends);
                $('#credit').append(data.credit);
                $('#level').append(data.level);
                $('#avatar').append("<img src=\"images/avatar/" + data.avatar + "\" />");
            }
        });
    });
    function updateBMI() {
        var weight = $('#weight').val();
        var height = $('#height').val();
        $.ajax("/health/editBMI/" + weight + "/" + height, {
            type: 'GET',
            success: function (data) {
                alert('Update BMI successfully');
                $('#weight').val(weight);
                $('#height').val(height);
            }
        });
    }
</script>
</body>
</html>