@charset "utf-8";
/*-----------------------------------reset part-----------------------------------*/
/*-----------------------------------base part-----------------------------------*/
/*定位*/
.hidden{visibility:hidden}
.none{display:none}
.block{display:block;}
.tl{text-align:left}
.tc{text-align:center}
.tr{text-align:right}
.cb{clear:both}
.cl{clear:left}
.cr{clear:right}
.bc{margin-left:auto;margin-right:auto;}
.fl{float:left;}
.fr{float:right;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}
.vm{vertical-align:middle}
.pr{position:relative}
.pa{position:absolute}
.abs-right{position:absolute;right:0}
.zoom{zoom:1}

/*文字排版*/
.fb{font-weight:bold}
.fn{font-weight:normal}
.unl{text-decoration:underline}
.no_unl{text-decoration:none}
.f10{font-size:10px}
.f12{font-size:12px}
.f13{font-size:13px}
.f14{font-size:14px}
.f16{font-size:16px}
.f18{font-size:18px}
.f20{font-size:20px}
.f22 {font-size:22px}
.f24{font-size:22px}
.t2{text-indent:2em}
.lh150{line-height:150%}
.lh180{line-height:180%}
.lh200{line-height:200%}
.cl_white{color:#fff;}
.cl_black{color:#000;}
.cl_gray{color:gray;}
.cl_red{color:red;}

/*长度高度*/
.w{width:100%}
.h{height:100%}

/*边距*/
.m0{margin:0}
.p0{padding:0}

/*间隔*/
.clear  {height:0px;clear:both;font-size:0;overflow:hidden;}
.blank0 {height:0;clear:both;font-size:0px;overflow:hidden;}
.blank1 {height:1px;clear:both;font-size:0px;overflow:hidden;}
.blank2 {height:2px;clear:both;font-size:0px;overflow:hidden;}
.blank4 {height:4px;clear:both;font-size:0px;overflow:hidden;}
.blank5 {height:5px;clear:both;font-size:0px;overflow:hidden;}
.blank10 {height:10px;clear:both;font-size:0px;overflow:hidden;}
.blank15 {height:15px;clear:both;font-size:0px;overflow:hidden;}
.blank20 {height:20px;clear:both;font-size:0px;overflow:hidden;}
.blank30 {height:30px;clear:both;font-size:0px;overflow:hidden;}
.blank40 {height:40px;clear:both;font-size:0px;overflow:hidden;}
.mart0{margin-top:0px;}
.mart1{margin-top:1px;}
.mart2{margin-top:2px;}
.mart3{margin-top:3px;}
.mart4{margin-top:4px;}
.mart5{margin-top:5px;}
.mart6{margin-top:6px;}
.mart7{margin-top:7px;}
.mart8{margin-top:8px;}
.mart9{margin-top:9px;}
.mart10{margin-top:10px;}
.mart15{margin-top:15px;}
.marr0{margin-right:0px;}
.marr1{margin-right:1px;}
.marr2{margin-right:2px;}
.marr3{margin-right:3px;}
.marr4{margin-right:4px;}
.marr5{margin-right:5px;}
.marr6{margin-right:6px;}
.marr7{margin-right:7px;}
.marr8{margin-right:8px;}
.marr9{margin-right:9px;}
.marr10{margin-right:10px;}
.marr15{margin-right:15px;}
.marl0{margin-left:0px;}
.marl1{margin-left:1px;}
.marl2{margin-left:2px;}
.marl3{margin-left:3px;}
.marl4{margin-left:4px;}
.marl5{margin-left:5px;}
.marl6{margin-left:6px;}
.marl7{margin-left:7px;}
.marl8{margin-left:8px;}
.marl9{margin-left:9px;}
.marl10{margin-left:10px;}
.marl15{margin-left:15px;}

.padr0{padding-right:0px;}
.padrr1{padding-right:1px;}
.padrr2{padding-right:2px;}
.padrr3{padding-right:3px;}
.padrr4{padding-right:4px;}
.padrr5{padding-right:5px;}
.padrr6{padding-right:6px;}
.padrr7{padding-right:7px;}
.padrr8{padding-right:8px;}
.padrr9{padding-right:9px;}
.padrr10{padding-right:10px;}
.padrr15{padding-right:15px;}
.padrl0{padding-left:0px;}
.padrl1{padding-left:1px;}
.padrl2{padding-left:2px;}
.padrl3{padding-left:3px;}
.padrl4{padding-left:4px;}
.padrl5{padding-left:5px;}
.padrl6{padding-left:6px;}
.padrl7{padding-left:7px;}
.padrl8{padding-left:8px;}
.padl10{padding-left:10px;}
.padl15{padding-left:15px;}

.m_tc{margin:0 auto;}
/*链接和常用文字颜色*/
.grayblack, .grayblack a, .grayblack a:link, .grayblack a:visited {color:#555;}
.itemgroup:hover{background-color:#fff; color:#006600;}
.co1{color: #919191;}
.co2{color:#545454;}
.co3{color:#fff;}
.co4{color:#699000;}
.co5{color:#000000;}
.co6{color:#666666;}
.co7{color:#59bedc;}
.co8{color:#999999;}
.co9{color:#f79700;}
.co10{color:#b3d193;}
.co11{color:#ffa200;}
.co12{color:#92b452;}
.co13{color:#e0b02e;}
.co14{color:#333333;}
.co15{color:#ff6600;}
.co16{color:red;}
.red, .red a:link, .red a:active, .red a:visited .red a{color:red}
a,a:visited,a:link,a:active {color:#699000; text-decoration:none; }
a:hover {text-decoration:underline;}
.a1,.a1:visited,.a1:link,.a1:active {color:#339933; text-decoration:none; }
.a1:hover {text-decoration:underline;}
.a2,.a2:visited,.a2:link,.a2:active {color:#333333; text-decoration:none; }
.a2:hover {text-decoration:none;}
.a3,.a3:visited,.a3:link,.a3:active {color:#fff; text-decoration:none; }
.a3:hover {text-decoration:none;}
.a4,.a4:visited,.a4:link,.a4:active {color:#699000; text-decoration:none; }
.a4:hover {text-decoration:underline;}
.a5,.a5:visited,.a5:link,.a5:active {color:#fff; text-decoration:none; }
.a5:hover {text-decoration:none;background-color:#576e1a;border-radius: 17px;}
.a6,.a6:visited,.a6:link,.a6:active {color:#666666; text-decoration:none; }
.a6:hover {text-decoration:none;}
.a8,.a8:visited,.a8:link,.a8:active {color:#999999; text-decoration:none; }
.a8:hover {text-decoration:none;}
.a9,.a9:visited,.a9:link,.a9:active {color:#fff; text-decoration:none; }
.a9:hover {text-decoration:none;}
.a10,.a10:visited,.a10:link,.a10:active {color:#ff8400; text-decoration:none; }
.a10:hover {text-decoration:none; text-decoration: underline;}
.a99,.a99:link,.a99:visited,.a99:active {color:#000; text-decoration:none; }
.a99:hover {text-decoration:none;}
.f18{font-size:18px;}
.f30{font-size:30px;}
a.underline {text-decoration:underline;}
a.underline:hover {text-decoration:none;}
/*鼠标悬停形状*/
.curMove{cursor:move}
.pointer{cursor:pointer}
.fixline{border-bottom:1px solid #EEEEEE; width: 100%;height:1px;}