<!DOCTYPE HTML>
<html>
<head>
    <title>Gofit</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/w3.css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic" rel="stylesheet"/>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.dropotron.js"></script>
    <script src="js/config.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/skel-panels.min.js"></script>
    <noscript>
        <link rel="stylesheet" href="css/skel-noscript.css"/>
        <link rel="stylesheet" href="css/style.css"/>
        <link rel="stylesheet" href="css/style-desktop.css"/>
    </noscript>
    <!--[if lte IE 8]>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" href="css/ie8.css"/>
    <![endif]-->
    <style>
        .w3-myfont {
            font-family: "Comic Sans MS", cursive, sans-serif;
        }

        .LinkUl {
            float: left;
        }
    </style>
</head>
<body class="left-sidebar">

<!-- Header Wrapper -->
<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u">

                <!-- Header -->
                <section id="header">

                    <!-- Logo -->
                    <h1><a href="#">Gofit</a></h1>

                    <!-- Nav -->
                    <nav id="nav">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="health.html">Health</a></li>
                            <li><a href="sports.html">Sports</a></li>
                            <li class="current_page_item"><a href="activity.html">Activity</a></li>
                            <li><a href="friends.html">Friends</a></li>
                        </ul>
                    </nav>
                </section>

            </div>
        </div>
    </div>
</div>

<!-- Main Wrapper -->
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u">
                <div class="w3-container w3-myfont">
                    <!-- Portfolio -->
                    <section>
                        <div>
                            <div class="row">
                                <div class="4u">
                                    <section class="box">
                                        <div class="image image-full" id="avatar"></div>
                                        <header>
                                            <h3 id="username">gakki</h3>
                                        </header>
                                        <table>
                                            <tr>
                                                <td id="level">Level:</td>
                                                <td id="credit">credit:</td>
                                            </tr>
                                        </table>
                                        <div>
                                            <a href="organize_activity.html">
                                                <button class="w3-btn w3-red">Organize an activity</button>
                                            </a>
                                        </div>
                                        <br>
                                        <ul class="divided">
                                            <div class="w3-container w3-section">
                                                <div class="w3-border w3-round w3-padding w3-grey">
                                                    <a href="activity.html">Activities</a>
                                                </div>
                                            </div>
                                            <div class="w3-container w3-section">
                                                <div class="w3-border w3-round w3-padding w3-grey">
                                                    <a href="my_activity.html">My activities</a>
                                                </div>
                                            </div>
                                            <div class="w3-container w3-section">
                                                <div class="w3-border w3-round w3-padding w3-grey">
                                                    <a href="activity_single.html">Single to single</a>
                                                </div>
                                            </div>
                                            <div class="w3-container w3-section">
                                                <div class="w3-border w3-round w3-padding w3-grey">
                                                    <a href="activity_team.html">Team to team</a>
                                                </div>
                                            </div>
                                            <div class="w3-container w3-section">
                                                <div class="w3-border w3-round w3-padding w3-grey">
                                                    <a href="activity_multi.html">Multi players</a>
                                                </div>
                                            </div>
                                        </ul>
                                    </section>

                                </div>
                                <div class="8u skel-cell-mainContent">

                                    <!-- Content -->
                                    <article id="list" class="box is-post">
                                    </article>

                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer Wrapper -->
<div id="footer-wrapper">

    <!-- Footer -->
    <section id="footer" class="container">
        <div class="row">
            <div class="12u">

                <!-- Copyright -->
                <div id="copyright">
                    <ul class="links">
                        &copy; Copyright &copy; 2016.TJStudio All rights reserved.
                    </ul>
                </div>

            </div>
        </div>
    </section>

</div>
<script src="/view/js/activity_multi.js"></script>
</body>
</html>