<!DOCTYPE HTML>
<html>
<head>
    <title>Gofit</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content="sports sharing"/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/view/css/w3.css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic" rel="stylesheet"/>
    <script src="/view/js/jquery.min.js"></script>
    <script src="/view/js/jquery.dropotron.js"></script>
    <script src="/view/js/config.js"></script>
    <script src="/view/js/skel.min.js"></script>
    <script src="/view/js/skel-panels.min.js"></script>
    <noscript>
        <link rel="stylesheet" href="/view/css/skel-noscript.css"/>
        <link rel="stylesheet" href="/view/css/style.css"/>
        <link rel="stylesheet" href="/view/css/style-desktop.css"/>
    </noscript>
    <!--[if lte IE 8]>
    <script src="/view/js/html5shiv.js"></script>
    <link rel="stylesheet" href="/view/css/ie8.css"/>
    <![endif]-->
    <style>
        .w3-myfont {
            font-family: "Comic Sans MS", cursive, sans-serif;
        }

        .rank-tab {
            display: none;
        }
    </style>
</head>
<body class="left-sidebar">

<!-- Header Wrapper -->
<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u">

                <!-- Header -->
                <section id="header">


                    <h1><a href="#">Gofit</a></h1>
                    <a href="/view/login.html">logout</a>
                </section>

            </div>
        </div>
    </div>
</div>

<!-- Main Wrapper -->
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u">
                <div class="w3-container w3-myfont">
                    <!-- Portfolio -->
                    <section>

                        <div class="8u skel-cell-mainContent">
                            <article class="box is-post">

                                <header>
                                    <h3>User manage</h3>
                                </header>
                                <hr>
                                <ul id="list" class="w3-ul w3-card-4">
                                </ul>

                            </article>

                        </div>

                    </section>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer Wrapper -->
<div id="footer-wrapper">

    <!-- Footer -->
    <section id="footer" class="container">
        <div class="row">
            <div class="12u">

                <!-- Copyright -->
                <div id="copyright">
                    <ul class="links">
                        &copy; Copyright &copy; 2016.TJStudio All rights reserved.
                    </ul>
                </div>

            </div>
        </div>
    </section>

</div>
<script src="/view/js/admin.js"></script>
</body>
</html>