<!DOCTYPE HTML>
<html>
<head>
    <title>Gofit</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content="sports sharing"/>
    <meta name="author" content="tj"/>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic" rel="stylesheet"/>
    <script src="/view/js/jquery.min.js"></script>
    <script src="/view/js/jquery.dropotron.js"></script>
    <script src="/view/js/skel.min.js"></script>
    <script src="/view/js/skel-panels.min.js"></script>
    <script>
        window._skel_panels_config = {
            preset: 'standard'
        };

        jQuery(function () {
            $('#nav > ul').dropotron({
                offsetY: -17,
                offsetX: -1,
                mode: 'fade',
                noOpenerFade: true,
                detach: false
            });
        });
    </script>
    <link rel="stylesheet" href="/view/css/skel-noscript.css"/>
    <link rel="stylesheet" href="/view/css/style.css"/>
    <link rel="stylesheet" href="/view/css/style-desktop.css"/>
    <!--[if lte IE 8]>
    <script src="/view/js/html5shiv.js"></script>
    <link rel="/view/stylesheet" href="/view/css/ie8.css"/>
    <![endif]-->
</head>
<body class="homepage">

<!-- Header Wrapper -->
<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u">

                <!-- Header -->
                <section id="header">

                    <!-- Logo -->
                    <h1><a href="#">Gofit</a></h1>

                    <!-- Nav -->
                    <nav id="nav">
                        <ul>
                            <li class="current_page_item"><a href="/view/index.html">Home</a></li>
                            <li><a href="/view/health.html">Health</a></li>
                            <li><a href="/view/sports.html">Sports</a></li>
                            <li><a href="/view/activity.html">Activity</a></li>
                            <li><a href="/view/friends.html">Friends</a></li>
                        </ul>
                    </nav>

                </section>

            </div>
        </div>
        <div class="row">
            <div class="12u">

                <!-- Banner -->
                <section id="banner">
                    <div>
                        <span class="image image-full"><img src="/view/images/pic01.jpg" alt=""/></span>
                        <header>
                            <h2>Come Gofit to find your friends!</h2>
                            <span class="byline">Life lies in movement.</span>
                        </header>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="12u">
                <section id="intro">
                    <div class="actions">
                        <a href="/view/html/login.html" class="button button-big">Get Started</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


<!-- Footer Wrapper -->
<div id="footer-wrapper">

    <!-- Footer -->
    <section id="footer" class="container">
        <div class="row">
            <div class="12u">

                <!-- Copyright -->
                <div id="copyright">
                    <ul class="links">
                        &copy; Copyright &copy; 2016.TJStudio All rights reserved.
                    </ul>
                </div>

            </div>
        </div>
    </section>

</div>
</body>
</html>